{% extends 'base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <center>
      <h1>Créer une nouvelle formation</h1>
    </center>

    {{ include('formation/_form.html.twig') }}


{% endblock %}
