<form method="post" action="{{ path('random_Onetoken', {'id': enseignant.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir regénérer le token de cet enseignant ? ');">
    <center><button class="btn btn-primary">Générer</button></center>
</form>
