{% extends 'base.html.twig' %}

{% block title %}Nouveau enseignant{% endblock %}

{% block body %}
<center><h2><i class="fas fa-user"></i> Créer nouveau profil</h2></center>


    {{ include('enseignant/_form.html.twig') }}


{% endblock %}
