{% extends 'base.html.twig' %}

{% block title %}Changement Annee{% endblock %}

{% block body %}

  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="card">
                <h5 class="card-header">
                  <center>
                    <td>Confirmation changement année</h4>
                  </td>
                </center>
              </h5>
              <div class="card-body">
                <p class="card-text">
                  <center>
                    Etes-vous sûr de bien vouloir changer d'année ? </br></br>
                    Ceci entraînera les actions suivantes :</br>
                    - Réinitialiser les informations relatives aux mails envoyés à chaque enseignant</br>
                    et enregistrer le fait qu'aucune saisie n'a été réalisée</br></br>

                    - Supprimer les remarques ponctuelles (on conserve les remarques hebdomadaires)</br></br>

                    - Supprimer les événements ponctuels créés par l'admin</br></br>

                    - Supprimer tous les logs des enseignants
                  </br></br>
                  <a href="{{ path('changement_annee') }}">
                    <button class="btn-primary">
                      <i class="far fa-check-circle"></i>
                      Confirmer</button>
                  </a>
                  </center>
                </p>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </p>
  </div>
</div>


{% endblock %}
