{% extends 'baseValidationEnseignant.html.twig' %}

{% block title %}Saisie fermée{% endblock %}

{% block body %}

  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="card">
                <h5 class="card-header">
                  <center>
                    <td>Saisie impossible</h4>
                  </td>
                </center>
              </h5>
              <div class="card-body">
                <p class="card-text">
                  <center>
                    La saisie a été temporairement bloquée par l'administrateur. Veuillez réessayer plus tard.
                  </br>
                  </center>
                </p>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </p>
  </div>
</div>


{% endblock %}
