{% extends 'base.html.twig' %}

{% block title %}Edit Log{% endblock %}

{% block body %}
    <h1>Edit Log</h1>

    {{ include('log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('log_index') }}">back to list</a>

    {{ include('log/_delete_form.html.twig') }}
{% endblock %}
