{% extends 'base.html.twig' %}

{% block title %}New Log{% endblock %}

{% block body %}
    <h1>Create new Log</h1>

    {{ include('log/_form.html.twig') }}

    <a href="{{ path('log_index') }}">back to list</a>
{% endblock %}
