{% extends 'base.html.twig' %}

{% block title %}Edit Remarque{% endblock %}

{% block body %}
    <h1>Edit Remarque</h1>

    {{ include('remarque/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('remarque_index') }}">back to list</a>

    {{ include('remarque/_delete_form.html.twig') }}
{% endblock %}
