{% extends 'base.html.twig' %}

{% block title %}New Remarque{% endblock %}

{% block body %}
    <h1>Create new Remarque</h1>

    {{ include('remarque/_form.html.twig') }}

    <a href="{{ path('remarque_index') }}">back to list</a>
{% endblock %}
