<form method="post" action="{{ path('modele_mail_delete', {'id': modele_mail.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce modèle de mail ? ');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ modele_mail.id) }}">
    <center><button class="btn btn-primary">Supprimer</button></center>
</form>
