{% extends 'base.html.twig' %}

{% block title %}ModeleMail{% endblock %}

{% block body %}

    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<div class="card">
    				<div class="card-body">
    					<p class="card-text">
              <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-3">
    		</div>
    		<div class="col-md-6">
    			<div class="card">
    				<h5 class="card-header">
    					<center><td><h4> <i class="far fa-envelope"></i> {{ modele_mail.nom }}</h4></td></center>
    				</h5>
    				<div class="card-body">
    					<p class="card-text">
    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ modele_mail.nom }}</td>
        </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ modele_mail.sujet }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ modele_mail.contenu }}</td>
            </tr>

        </tbody>
    </table>
    </p>
    </div>
    <div class="card-footer">
    </div>
    </div>
    </div>
    <div class="col-md-3">
    </div>
    </div>
    </div>
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
