
<div class="card">
  <h5 class="card-header">
    Disponibilités
  </h5>
  <div class="card-body">
    <p class="card-text">
      <br />
      <input type="radio" id="Forte" name="couleur"
            value="proForte" checked> Préférences forte
<br />
<br />
        <input type="radio" id="Moyenne" name="couleur"
              value="proMoy"> Préférences moyenne
<br />
<br />
      <input type="radio" id="Faible" name="couleur"
            value="proFaible"> Préférences faible
    </p>
  </div>
</div>
