
<div class="card">
  <h5 class="card-header">
    Disponibilités
  </h5>
  <div class="card-body">
    <p class="card-text">
      <br />
      <input type="radio" id="Forte" name="couleur"
            value="proForte" checked> Préférences
            <span class="badge badge-proForte" id="quantitePersForte">forte</span>
            </br>
          </br>

        <input type="radio" id="Moyenne" name="couleur"
              value="proMoy"> Préférences <span class="badge badge-proMoy" id="quantitePersForte">moyenne</span>
              </br>
            </br>

      <input type="radio" id="Faible" name="couleur"
            value="proFaible"> Préférences
            <span class="badge badge-proFaible" id="quantitePersForte">faible</span>
            </br>
          </br>
    </p>
  </div>
</div>
