<form method="post" action="{{ path('formulaire_titulaire_delete', {'id': formulaire_titulaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formulaire_titulaire.id) }}">
    <button class="btn">Delete</button>
</form>
